:root{
    --header: #1E3A5F;
    --footer: #14213D;
    --card: rgba(255, 255, 255, .90);
    --text: #2F3A40;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: "Ubuntu", sans-serif;
}
header{
    background-color: var(--header);
    padding: 2rem;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    /*background-color: cadetblue;*/
}
h1{
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}

.hero{
   margin: 0 0 1.5rem 0;
}

.hero img{
    width: 100%;
    height: auto;
}
.data-container, .weather-container{
    text-align: center;
    background-color: var(--card);
    padding: 1rem 0 2.5rem 0;
    line-height: 1.5;
    color: var(--text);
    border-top: 2px solid var(--header);
}
.title{
    background-color: var(--text);
    width: 12rem;  
    padding: 0.5rem;
    margin: 1rem 0;
}
.title h2{
    font-weight: 700;
    color: var(--card)
}
span{
    font-weight: 400;
}
.first{
    font-weight: 700;
}

.weather-image{
height: 5rem;
margin: 1rem;
}
.weather-image img{
    height: 100%;
    width: auto;
}

footer{
    background-color: var(--footer);
    color: rgb(255, 255, 255);
    padding: 1.5rem 0.5rem ;
    text-align: center;
    line-height: 1.5;
    font-weight: 700;
    font-size: large;
}
footer span{
    font-weight: 700;
    font-size: large;
}
    