@media (max-width: 849px) {
    nav {
        display: none;
    }

    nav.open {
        display: flex;
    }

}

@media (min-width: 850px) {
    #menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header {
        flex-direction: row;
        justify-content: space-between;

    }

    nav {
        flex-direction: row;

    }

}

@media screen and (min-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1500px;
        margin: auto;
    }

    .hero {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: -15px auto 10px;
        max-width: 1450px;
        box-shadow: 1px 1px 5px grey;
    }

    .hero-image {
        height: 350px;
        overflow: hidden;
        /*border-radius: 10px 0 0 10px;*/
        /*border: 1px solid var(--secondary-color);*/
    }

    .hero img {
        width: auto;
        height: auto;
        object-fit: cover;
        object-position: left center;

    }

    .hero-text {
        display: none;
    }

    .hero-text-large {
        display: block;
        text-align: left;
        align-content: center;
        border: 1px solid var(--secondary-color);
        /*border-radius: 0 10px 10px 0;*/
        padding-left: 25px;
        background-color: var(--secondary-color);
        color: white;

    }

    h2:nth-of-type(1),
    h2:nth-of-type(2) {
        margin-top: 0;
        font-size: 2rem;
        line-height: 1.25;
        font-weight: 700;
    }


    .hero p {
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding: 0;

    }

    .report-banner {
        padding: 1rem;
        margin: auto;
        width: 65%;
    }

    .report-banner img {
        width: 55px;
        height: 55px;

    }

    .report-banner p {
        font-size: 1.25rem;
    }

    .report-banner a {
        text-decoration: none;

        background: #222;
        color: white;

        padding: .75rem 3rem;

        border-radius: 6px;

        white-space: nowrap;
        font-weight: normal;
        font-size: 1rem;

    }
        

    /*Service*/
.our-services-page{
    grid-column: span 2;
}
    .services-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
/*Report*/
.report-card {
    background-color: var(--card-color);
    padding: 0.5rem;
    /*border-radius: 10px;*/
    /*border: 1px solid var(--secondary-color);*/
    display: grid;
    grid-template-columns: 1fr 4fr;
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    justify-content: center;
    /*text-align: center;*/
}
.report-card img {
    width: 100%;
    height: auto;
    margin-bottom: .5rem;
}
.report-card h4 {
    color: var(--primary-color);
    margin-left: 15px;
    
}

.report-card p {
    display: inline-block;
    align-items: center;
    font-family: 'roboto', sans-serif;
    font-size: .8rem;
    color: var(--tex-color);
    margin-left: 15px;
}

.how-it-works {
    text-align: start;
    margin: 2rem;
    justify-content: center;
    align-content: center;
}
}