:root {
    --primary-color: #0B3C5D;
    --secondary-color: #328CC1;
    --background-color: #F5F5F5;
    --card-color: #FFFFFF;
    --success-color: #4CAF50;
    --text-color: #333333;
    --shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.7;


}

main {
    /*max-width: 1900px;*/
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;


}

header h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem 0 0;
    margin-right: 1.25rem;
}

.mainlogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.mainlogo img {
    width: 5rem;
    display: block;
}

/*Menu*/
nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    /*margin: 0 2rem 0;*/

}

nav a {
    color: var(--accent-color);
    text-decoration: none;
    padding: 1rem;
    font-size: 12px;
    align-self: center;

}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#menu {
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
}

/* hero section */
.hero {
    text-align: center;
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h2 {
    font-family: "Poppins", sans-serif;
}

h2:nth-of-type(1) {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 35%;
    font-weight: 400;
}

h2:nth-of-type(2) {
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    line-height: 35%;
    font-weight: 700;
}

.hero p {
    font-size: 0.85rem;
    line-height: 1.5;
    margin: 0 2rem;
    padding: 0 1rem;

}

.latest-news,
.our-services,
.upcoming-events,
.report-banner {
    line-height: 1.5;
    margin: 1.5rem;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;

}

main h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;

    grid-column: 1 / -1;

}

.news-item {
    /*display: grid;*/
    display: flex;

    gap: 1rem;

    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 1rem;
}

.news-item img {
    width: 100%;
    height: auto;
    max-width: 100px;
    margin-bottom: 0.5rem;
    background-color: black;
}

.news-content {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    /*justify-content: center;*/
    overflow: hidden;
}

.news-item h4 {
    margin: 0;
    font-size: 1rem;
    color: var(--primary-color);
}

.news-item p {
    font-size: 12px;
    color: var(--text-color);
}

/*.our-services{
    max-height: 25rem;
}*/
.services {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.service-card {

    background-color: var(--card-color);
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    /*height: 100%;*/
    /*width: 45%;*/
    flex: 1 1 140px;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.service-card img {
    width: 64px;
    height: 64px;
    margin-bottom: .5rem;
}

/*.service-card img {
    /*display: inline-block;*/
/*width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}*/

.service-card p {
    display: inline-block;
    align-items: center;
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.events-header , .service-header , .news-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--success-color);
}

.events-header a , .service-header a , .news-header a{
    text-decoration: none;
    font-size: .8rem;
    color: var(--text-color);


}

.event {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;

    padding: .75rem 0;

    border-bottom: 1px solid #ddd;
}

.event-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    /*padding: 1rem;*/
    /*font-size: 12px;*/

}

.event-date {

    width: 60px;
    height: 70px;

    border: 1px solid #bbb;
    border-radius: 6px;

    overflow: hidden;

    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);

    text-align: center;
}

/*
.event-date{
    justify-content: center;
    text-align: center;
    margin-top: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    /*width: 150px;*/
/* box-shadow: 1px 1px 5px gray;
    
}*/
.event-date p:first-child {

    background: #f4f4f4;

    font-size: .75rem;

    font-weight: 600;

    border-bottom: 1px solid #bbb;

    padding: .2rem;
}

.event-date p:last-child {

    font-size: 2rem;

    font-weight: 700;

    margin-top: .2rem;
}

/*
.event-date p:nth-of-type(2) {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}*/
.event-content h4 {

    margin: 0;
    font-size: 1rem;
    color: var(--primary-color);
}

.event-content p {

    margin: 0;
    font-size: .8rem;
    color: #666;
    line-height: 1.4;
}

.report-banner {
    display: grid;
    grid-template-columns: 35px 1fr max-content;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    margin: 1.5rem;

    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

/*.report-banner{
    height: 6rem;
    /*display: grid;*/
/*display: flex;

/*flex: 1 1 140px;*/
/*grid-template-columns: 0.5fr 2fr 1fr;*/
/*align-items: center;
}*/
.report-banner img {
    width: 35px;
    height: 35px;
}

/*
.report-banner p{
    font-size: 0.75rem;
    line-height: 1;
    font-weight: bold;
    margin-left: 0.5rem;
    font-family: "Roboto", sans-serif;*/
/*margin: 0 2rem;
}*/
.report-banner p {
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    text-align: center;
}

.report-banner a {
    text-decoration: none;

    background: #222;
    color: white;

    padding: .55rem .75rem;

    border-radius: 6px;

    white-space: nowrap;

    font-size: 0.7rem;
    font-weight: 600;
}

/*
.report-banner a {
    font-size: 0.75rem;
    
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    padding: 0.50rem;
    border-radius: 5px;
    background-color: #000000;
    color: var(--card-color);
    text-align: center;
}*/
/*Footer*/

footer {
    background-color: var(--card-color);
    margin-top: 2rem;
    border-top: 1px solid #d9d9d9;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: .5rem 0;

    background-color: white;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, .1);
}

.footer-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--text-color);

    font-size: .75rem;
    font-family: "Roboto", sans-serif;

    gap: .2rem;
    flex: 1;

    transition: .2s ease;
}

.footer-menu a img {
    width: 28px;
    height: 28px;
}

footer p {
    text-align: center;
    font-size: .75rem;
    padding: .75rem;
    color: #666;
}
/*
@media (max-width: 849px) {
    nav {
        display: none;
    }

    nav.open {
        display: flex;
    }

}

@media (min-width: 850px) {
    #menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header {
        flex-direction: row;
        justify-content: space-between;

    }

    nav {
        flex-direction: row;

    }

}*/